.input:focus {
    background:rgb(241, 241, 241);
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px; 
    padding: 8px 20px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
    
}

.errorInput:focus {
    border: 1px solid  #CC1439;
}

.error {
    color: #CC1439;
    
}
